@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";



@theme {
  --color-primary: #F84565;
  --color-secondary: #D63854;
}

*{
   font-family: "Outfit", sans-serif;
   scrollbar-width: thin;
   scrollbar-width: #787777 #1e1e1e;
}

body {
  background-color: #09090B;
  color: white;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* Show horizontal scrollbar for overflow-x-auto */
.overflow-x-auto {
  overflow-x: auto !important;
  scrollbar-width: thin;
}

/* For Chrome/Edge/Safari */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
  background: #1e1e1e;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #787777;
  border-radius: 4px;
}